<a href="https://colab.research.google.com/github/lRAHULl/Deep-Learning/blob/master/ANN_on_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from keras.models import Sequential
from keras.layers import Dense, LeakyReLU, ReLU, ELU

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/lRAHULl/Deep-Learning/master/Churn_Modelling.csv")

In [32]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [0]:
X = data.iloc[:, 3: -1]
y = data.iloc[:, -1]

In [34]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [35]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
le1 = LabelEncoder()
X.iloc[:, 1] = le1.fit_transform(X.iloc[:, 1])
le2 = LabelEncoder()
X.iloc[:, 2] = le2.fit_transform(X.iloc[:, 2])

In [38]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
5,645,2,1,44,8,113755.78,2,1,0,149756.71
6,822,0,1,50,7,0.00,2,1,1,10062.80
7,376,1,0,29,4,115046.74,4,1,0,119346.88
8,501,0,1,44,4,142051.07,2,0,1,74940.50
9,684,0,1,27,2,134603.88,1,1,1,71725.73
10,528,0,1,31,6,102016.72,2,0,0,80181.12
11,497,2,1,24,3,0.00,2,1,0,76390.01
12,476,0,0,34,10,0.00,2,1,0,26260.98
13,549,0,0,25,5,0.00,2,0,0,190857.79
14,635,2,0,35,7,0.00,2,1,1,65951.65
15,616,1,1,45,3,143129.41,2,0,1,64327.26
16,653,1,1,58,1,132602.88,1,1,0,5097.67
17,549,2,0,24,9,0.00,2,1,1,14406.41
18,587,2,1,45,6,0.00,1,0,0,158684.81
19,726,0,0,24,6,0.00,2,1,1,54724.03
20,732,0,1,41,8,0.00,2,1,1,170886.17
21,636,2,0,32,8,0.00,2,1,0,138555.46
22,510,2,0,38,4,0.00,1,1,0,118913.53
23,669,0,1,46,3,0.00,2,0,1,8487.75
24,846,0,0,38,5,0.00,1,1,1,187616.16
25,577,0,1,25,3,0.00,2,0,1,124508.29
26,756,1,1,36,2,136815.64,1,1,1,170041.95
27,571,0,1,44,9,0.00,2,0,0,38433.35
28,574,1,0,43,3,141349.43,1,1,1,100187.43
29,411,0,1,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,0,1,42,7,151027.05,2,1,0,119377.36
9971,833,0,0,34,3,144751.81,1,0,0,166472.81
9972,758,0,1,26,4,155739.76,1,1,0,171552.02
9973,611,0,1,27,7,0.00,2,1,1,157474.10
9974,583,0,1,33,7,122531.86,1,1,0,13549.24
9975,610,1,1,50,1,113957.01,2,1,0,196526.55
9976,637,0,0,33,7,103377.81,1,1,0,84419.78
9977,683,0,0,32,9,0.00,2,1,1,24991.92
9978,774,0,1,40,9,93017.47,2,1,0,191608.97
9979,677,0,0,58,1,90022.85,1,0,1,2988.28
9980,741,2,1,35,6,74371.49,1,0,0,99595.67
9981,498,1,1,42,3,152039.70,1,1,1,53445.17
9982,655,1,0,46,7,137145.12,1,1,0,115146.40
9983,613,0,1,40,4,0.00,1,0,0,151325.24
9984,602,1,1,35,7,90602.42,2,1,1,51695.41
9985,659,0,1,36,6,123841.49,2,1,0,96833.00
9986,673,1,1,47,1,183579.54,2,0,1,34047.54
9987,606,2,1,30,8,180307.73,2,1,1,1914.41
9988,775,0,1,30,4,0.00,2,1,0,49337.84
9989,841,2,1,28,4,0.00,2,1,1,179436.60
9990,714,1,1,33,3,35016.60,1,1,0,53667.08
9991,597,0,0,53,4,88381.21,1,1,0,69384.71
9992,726,2,1,36,2,0.00,1,1,0,195192.40
9993,644,0,1,28,7,155060.41,1,1,0,29179.52
9994,800,0,0,29,2,0.00,2,0,0,167773.55
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [39]:
ohe = OneHotEncoder(categorical_features = [1])
X = ohe.fit_transform(X).toarray()
X

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [40]:
len(X[1])

12

In [41]:
X = X[:, 1:] # to avoid Duplication
len(X[1])

11

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=16)

In [0]:
# Standard Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [0]:
# Define the model
model = Sequential()

# Input Layer
model.add(Dense(units=6, kernel_initializer='uniform', input_dim = 11))
model.add(LeakyReLU())

# Hidden Layer
model.add(Dense(units=20, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=20, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=20, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=20, kernel_initializer='uniform'))
model.add(LeakyReLU())
model.add(Dense(units=20, kernel_initializer='uniform'))
model.add(LeakyReLU())


# Output Layer
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [0]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [52]:
# Train the model
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.5507 - acc: 0.7980
Epoch 2/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.4245 - acc: 0.8155
Epoch 3/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.4195 - acc: 0.8204
Epoch 4/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.4152 - acc: 0.8254
Epoch 5/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.4121 - acc: 0.8269
Epoch 6/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.4093 - acc: 0.8288
Epoch 7/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.4076 - acc: 0.8307
Epoch 8/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.4065 - acc: 0.8315
Epoch 9/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.4055 - acc: 0.8319
Epoch 10/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.4047 - acc: 0.8341
Epoch 11/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.4048 - acc: 0.8316
Epoch 12/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.4037 - acc: 0.8310
Epoch 13/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.4032 - acc: 0.8313
Epoch 14/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.4018 - acc: 0.8322
Epoch 15/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.4009 - acc: 0.8317
Epoch 16/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.4006 - acc: 0.8309
Epoch 17/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3997 - acc: 0.8313
Epoch 18/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3990 - acc: 0.8320
Epoch 19/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3982 - acc: 0.8314
Epoch 20/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3978 - acc: 0.8311
Epoch 21/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3966 - acc: 0.8310
Epoch 22/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3966 - acc: 0.8320
Epoch 23/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3954 - acc: 0.8330
Epoch 24/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3951 - acc: 0.8339
Epoch 25/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3951 - acc: 0.8329
Epoch 26/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3945 - acc: 0.8359
Epoch 27/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3940 - acc: 0.8353
Epoch 28/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3935 - acc: 0.8359
Epoch 29/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3934 - acc: 0.8366
Epoch 30/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3935 - acc: 0.8360
Epoch 31/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3935 - acc: 0.8361
Epoch 32/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3927 - acc: 0.8366
Epoch 33/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3925 - acc: 0.8379
Epoch 34/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3919 - acc: 0.8376
Epoch 35/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3919 - acc: 0.8381
Epoch 36/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3915 - acc: 0.8380
Epoch 37/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3916 - acc: 0.8382
Epoch 38/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3910 - acc: 0.8392
Epoch 39/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3912 - acc: 0.8408
Epoch 40/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3904 - acc: 0.8402
Epoch 41/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3896 - acc: 0.8421
Epoch 42/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3903 - acc: 0.8404
Epoch 43/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3895 - acc: 0.8413
Epoch 44/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3893 - acc: 0.8421
Epoch 45/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3892 - acc: 0.8417
Epoch 46/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3884 - acc: 0.8421
Epoch 47/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3890 - acc: 0.8411
Epoch 48/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3883 - acc: 0.8416
Epoch 49/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3883 - acc: 0.8416
Epoch 50/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3880 - acc: 0.8430
Epoch 51/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3870 - acc: 0.8413
Epoch 52/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3873 - acc: 0.8417
Epoch 53/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.3876 - acc: 0.8429
Epoch 54/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3868 - acc: 0.8420
Epoch 55/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3870 - acc: 0.8438
Epoch 56/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3865 - acc: 0.8431
Epoch 57/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3864 - acc: 0.8433
Epoch 58/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3861 - acc: 0.8434
Epoch 59/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3854 - acc: 0.8420
Epoch 60/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3861 - acc: 0.8435
Epoch 61/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3858 - acc: 0.8445
Epoch 62/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3854 - acc: 0.8438
Epoch 63/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3851 - acc: 0.8445
Epoch 64/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3850 - acc: 0.8448
Epoch 65/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3848 - acc: 0.8438
Epoch 66/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3839 - acc: 0.8442
Epoch 67/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3835 - acc: 0.8442
Epoch 68/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3829 - acc: 0.8470
Epoch 69/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3813 - acc: 0.8460
Epoch 70/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3804 - acc: 0.8439
Epoch 71/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3773 - acc: 0.8469
Epoch 72/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3753 - acc: 0.8460
Epoch 73/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3680 - acc: 0.8485
Epoch 74/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3608 - acc: 0.8525
Epoch 75/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3576 - acc: 0.8546
Epoch 76/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3535 - acc: 0.8545
Epoch 77/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3514 - acc: 0.8561
Epoch 78/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3500 - acc: 0.8578
Epoch 79/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3481 - acc: 0.8580
Epoch 80/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3469 - acc: 0.8594
Epoch 81/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3451 - acc: 0.8580
Epoch 82/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3450 - acc: 0.8610
Epoch 83/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3449 - acc: 0.8592
Epoch 84/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3438 - acc: 0.8579
Epoch 85/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3430 - acc: 0.8603
Epoch 86/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3429 - acc: 0.8582
Epoch 87/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3412 - acc: 0.8614
Epoch 88/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3416 - acc: 0.8601
Epoch 89/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3423 - acc: 0.8598
Epoch 90/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3412 - acc: 0.8589
Epoch 91/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3416 - acc: 0.8603
Epoch 92/100
8000/8000 [==============================] - 2s 209us/step - loss: 0.3410 - acc: 0.8620
Epoch 93/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3404 - acc: 0.8608
Epoch 94/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3408 - acc: 0.8610
Epoch 95/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3403 - acc: 0.8606
Epoch 96/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3396 - acc: 0.8611
Epoch 97/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3399 - acc: 0.8606
Epoch 98/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3397 - acc: 0.8582
Epoch 99/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.3407 - acc: 0.8596
Epoch 100/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3407 - acc: 0.8581

In [0]:
# Prfedicting on the test set
y_pred = model.predict(X_test)
y_pred = y_pred > 0.5

In [0]:
#  Confusion matrix 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [55]:
cm

array([[1551,   36],
       [ 261,  152]])

In [56]:
261 + 36

297